@use '../abstract/mixins';


.nav{

background-color: pink;

&__list{
    display: flex;
    align-items: center;
}
&__item{
&__link{

    a{
        font-family: Arial;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
    &--black{
        color: black;
    }
    &--white{
        color: whitesmoke;
    }
}
&.nav--desktop{
    display: none;
    @include mixins.breakpoint(laptop){
        display: block;
    }
    }
    &.nav--footer{
        background-color: red;
        .nav_link{
            color:white;
        }
    }
    &.nav--mobile{
        background-color: blue;
    }
    


    }
}