/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use "../abstracts/vars";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass/base/_body.scss 1:1   @use
 *   sass/base/_index.scss 2:1  @use
 *   sass/style.scss 3:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use \"../abstracts/vars\";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass/base/_body.scss 1:1   @use\a   sass/base/_index.scss 2:1  @use\a   sass/style.scss 3:1        root stylesheet";
}
