h1, h2, h3, h4, h5, h6, p, body, ul, li {
    margin: 0;
    padding: 0;
    font: inherit;
}
ul,li{
    list-style: none ; /*removes bullet */
}
:root {
    --starbucks-green: #006241;
    --medium-gray:rgba(0,0,0,.58 )
}

body {
    background-color: yellow;
}

.overlay {
    background-color: var(--starbucks-green);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1000;
    transition-property: all;
    transition-duration: .25s;
}
.overlay.active {
    left: 0;
}
h1 {
    font-size: 36px;
    color: var(--starbucks-green);
}
.logo {
    width: 100px;
    height: 100px;
}
.mobile-nav{
    
    padding: 1rem;
}
.mobile-nav a{
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
}
.btn-ui{
    background-color: pink;
    border: 0;
    padding: 1rem;
}
.btn-ui svg{
    width: 3rem;
    height:3rem;
    fill: var(--medium-gray);
}
#closeBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: 1px solid white;
}
#closeBtn svg{
    fill:white;
}